{% extends 'layout.html' %}
{% block title%} GT COVID-19 Testing {% endblock %}
{% block link%} 
	<a href="{{ url_for('index') }}"> Return to Home Page </a> | 
	<a href="{{ url_for('logout') }}"> Log Out {{[g.user]}}</a> 
{%  endblock%}

{% block body%}
	<h2> Admin Home </h2>

	<form action="" method=post>
	<div class=action>
	<p align="center">
			<button class=grey name="submit_button" value="Reassign Testers"
        			style="height:70px;width:200px">Reassign Testers</button>
        	<button class=grey name="submit_button" value="Create Testing Site"
        		style="height:70px;width:200px">Create Testing Site</button>
    </p>
    <p align="center">
		<button class=grey name="submit_button" value="Create Appointment"
        		style="height:70px;width:200px">Create Appointment</button>
        <button class=grey name="submit_button" value="View Appointments"
            style="height:70px;width:200px">View Appointments</button>
	</p>
    <p align="center">
        <button class=grey name="submit_button" value="Daily"
            style="height:70px;width:200px">View Daily Results</button>
		<button class=grey name="submit_button" value="Aggregate"
        	style="height:70px;width:200px">View Aggregate Results</button>
	</p>
	</div>
	</form>
{% endblock%}