{% extends 'layout.html' %}
{% block title%} GT COVID-19 Testing {% endblock %}
{% block link%} 
	<a href="{{ url_for('index') }}"> Return to Home Page </a> | 
	<a href="{{ url_for('logout') }}"> Log Out {{[g.user]}}</a> 
{%  endblock%}
{% block body%}
    
	<h2> View Daily Results </h2>
	<table width="600" border="1", align="center">
		<thead>
	  <tr>
	    <th align="center"> Date </th>
	    <th align="center"> Tests Processed </th>
	    <th align="center"> Positive Count</th>
	    <th align="center"> Positive Percent </th>
	  </tr>
	</thead>
	<tbody>
	  {% for result in results%}
	  <tr>
	    <td align="center"> {{result[0]}}</td>
	    <td align="center"> {{result[1]}} </td>
	    <td align="center"> {{result[2]}}</td>
	    <td align="center"> {{result[3]}}%</td>
	  </tr>
	  {% endfor %}
	</table>
	<form action="" method=post>
	<div class=actions>
	    <input type=submit name = submit_button value="Back(Home)">
	  </div>
</form>
{% endblock%}
