{% extends 'layout.html' %}
{% block title%} GT COVID-19 Testing {% endblock %}

{% block body%}
	<h2> Lab Tech Tests Processed </h2>
	<form action="" method=post>

    <p align="center">
	    Date Tested:
	    {% if flag==0%}
	    <input type="date" name=_start_date value="" size=30 min="2019-01-01" max="2020-12-31"> 
	    -
	    <input type="date" name=_end_date size=30 value="" min="2019-01-01" max="2020-12-31"> 
	    {% else %}
	    <input type="date" name=_start_date value="{{request.form._start_date}}" size=30 min="2019-01-01" max="2020-12-31"> 
	    -
	    <input type="date" name=_end_date size=30 value="{{request.form._end_date}}" min="2019-01-01" max="2020-12-31">
	    {% endif %} 	    
	</p>
	<p align="center">
	Test Result:
	<select id="_test_status" name = _test_status>
	{% if flag==0%}
        	<option value="">All</option> 
    {% else %}
        <option value="{{request.form._test_status}}">{{request.form._test_status}}</option>
        <option value="">All</option> 
    {% endif %} 	
	  	    <option value="negative">Negative</option>
      		<option value="positive">Positive</option>
    	</select>
    	</p>
	
	<table width="600" border="1", align="center">
    <thead>
	  <tr>
	  	<th align="center"> Test ID# </th>
	    <th align="center"> Pool ID</th>
	    <th align="center"> Date Tested</th>
	    <th align="center"> Date Processed</th>
	    <th align="center"> Result</th>
	  </tr>
	  </thead>
	  <tbody>
	  {% for row in data%}
	  <tr>
	    <td align="center"> {{row[0]}} </td>
	    <td align="center"> {{row[1]}}</td>
	    <td align="center"> {{row[2]}} </td>
	    <td align="center"> {{row[3]}} </td>
	    <td align="center"> {{row[4]}} </td>
	  </tr>
	  {% endfor %}
	</table>
	
    
    <div class=action>
        <input type="submit" name="submit_button" value="Back(Home)">
        <input type="submit" name="submit_button" value="Filter">
        <input type="submit" name="submit_button" value="Reset">
    </div>
    </form>


{% endblock%}
