{% extends "layout.html" %}
{% block title%} View Pools {% endblock%}
{% block link%}
    <a href="{{ url_for('index')}}"> Return to Home Page </a>|
{% endblock%}
{% block body%}
	<h2> Explore Pool Results </h2>
	<p> Pool Metadata </p>
	<table width="600" border="1", align="center">
		<thead>
	  <tr><th align="center"> Pool ID </th> <th align="center"> {{pool[0]}} </th></tr>
	</thead>
	<tbody>
	  <tr><td align="center"> Date Processed</td><td align="center"> {{pool[1]}} </td></tr>
	  <tr><td align="center"> Pooled Result </td><td align="center"> {{pool[2]}} </td></tr>
	  <tr><td align="center"> Processed By </td><td align="center"> {{pool[3]}} </td></tr>
	</table>

	<p>Tests In Pool</p>
	<table>
	  <thead>
	  <tr align="center">
	    <th> Test ID#
	    <th> Date Processed
	    <th> Testing Site
	    <th> Test Result
	</thead>
	<tbody>
	  {% for test in tests%}
	  <tr align="center">
	    <td> {{test[0]}}
	    <td> {{test[1]}}
	    <td> {{test[2]}}
	    <td> {{test[3]}}
	  </tr>
	  {% endfor %}
	</table>

<h2><button onclick="goBack()">Back(Home)</button></h2>
{% endblock%}