{% extends 'layout.html' %}
{% block title%} GT COVID-19 Testing {% endblock %}
{% block link%} 
	<a href="{{ url_for('index') }}"> Return to Home Page </a> |
	<a href="{{ url_for('login') }}"> Log out </a> 
{%  endblock%}

{% block body%}
	<h2> Lab Technician Home </h2>
    <form action="" method=post>
	<div class=action>
	<p align="center">
			<button class=grey name="submit_button" value="Process Pool"
        			style="height:70px;width:200px">Process Pool</button>
			<button class=grey name="submit_button" value="View My Processed Tests"
        			style="height:70px;width:200px">View My Processed Tests</button>
    </p>
	<p align="center">
			<button class=grey name="submit_button" value="Create Pool"
        			style="height:70px;width:200px">Create Pool</button>
			<button class=grey name="submit_button" value="View Aggregate Results"
        			style="height:70px;width:200px">View Aggregate Results</button>
	</p>
	<p align="center">
		<button class=grey name="submit_button" value="View Pools"
        		style="height:70px;width:200px">View Pools</button>
        <button class=grey name="submit_button" value="View Daily Results"
            style="height:70px;width:200px">View Daily Results</button>
	</p>
	</div>
	</form>
{% endblock%}