{% extends 'layout.html' %}
{% block title%} GT COVID-19 Testing {% endblock %}
{% block link%} 
	<a href="{{ url_for('index') }}"> Return to Home Page </a> |
	<a href="{{ url_for('login') }}"> Log out </a> 
{%  endblock%}

{% block body%}
	<h2> Lab Technician Home </h2>
	
	<p align="center">
		<a href="{{ url_for('login') }}" >
			<button class=grey style="height:75px;width:150px">Process Pool</button>
		</a>
	</p>
	<p align="center">
		<a href="{{ url_for('login') }}" >
			<button class=grey style="height:75px;width:150px">Create Pool</button>
		</a>
	</p>
	<p align="center">
		<a href="{{ url_for('login') }}" >
			<button class=grey style="height:75px;width:150px">View My Processed Tests</button>
		</a>
	</p>
	<p align="center">
		<a href="{{ url_for('view_pools') }}" >
			<button class=grey style="height:75px;width:150px">View Pools</button>
		</a>
	</p>
	<p align="center">
		<a href="{{ url_for('daily') }}" >
			<button class=grey style="height:75px;width:150px">View Daily Results</button>
		</a>
	</p>
	<p align="center">
		<a href="{{ url_for('login') }}" >
			<button class=grey style="height:75px;width:150px">View Aggregate Results</button>
		</a>
	</p>
{% endblock%}