{% extends "layout.html" %}
{% block title%} GT COVID-19 Testing {% endblock%}
{% block link%}
	<a href="{{ url_for('index')}}"> Return to Home Page   </a>|
	<a href="{{ url_for('register')}}"> New User Register </a>
{% endblock%}
{% block body %}
	<h2> User Login </h2>
	{% if error %}
	<div class = error>
	  <strong>Error : </strong> {{error}}
	</div>
	{% endif%}
	<form action="" method=post>
	  <dl>
	    <dt>Username: </dt>
	    <dd><input type=text name=username size=30 value="{{ request.form.username}}"> </dd>
	    <dt>Password:	 </dt>
	    <dd><input type=password name=password size=30> </dd>
	  </dl>
	  <div class=actions>
	    <input type=submit value="Login">
	  </div>
	</form>
{% endblock %}
