{% extends 'layout.html' %}

{% block title%} GT COVID-19 Testing {% endblock%}
{% block link%}
	<a href="{{ url_for('index')}}"> Return to Home Page   </a>|
	<a href="{{ url_for('login')}}"> Back to Login </a>
{% endblock%}

{% block body %}
	<h2> User Register </h2>
	{% if error %}
	<div class = error>
	  <strong>Error : </strong> {{error}}
	</div>
	{% endif%}
	<p>Please Select a User Type</p>
	<form action="" method=post enctype="multipart/form-data">
		<select id="userType" name = "utypes">
			<option value="select1">--Select--</option>
      		<option value="Student">Student</option>
      		<option value="Employee">Employee</option>
    	</select>
	  <dl>
	    <dt>Username: </dt>
	    <dd><input type=text name=username size=30 value="{{ request.form.username}}"> </dd>
	    <dt>Email:	 </dt>
	    <dd><input type=text name=email size=30> </dd>
	    <dt>First Name:	 </dt>
	    <dd><input type=text name=fname size=30> </dd>
	    <dt>Last Name:	 </dt>
	    <dd><input type=text name=lname size=30> </dd>
	    <dt>Password:	 </dt>
	    <dd><input type=password name=password size=30> </dd>
	    <dt>Confirm Password:	 </dt>
	    <dd><input type=password name=cpassword size=30> </dd>
	    <dt>Phone No.:	 </dt>
	    <dd><input type=number name=phone size=30> </dd>
	  </dl>
	  <p>Housing Type:
	  <select id="housingTypes" name = "htypes">
	  	    <option value="select2">--Select--</option>
      		<option value="Greek">Greek</option>
      		<option value="GLC">GLC</option>
    	</select>
      </p>
      <p>Location:
      <select id="locationTypes" name = "ltypes">
      		<option value="select3">--Select--</option>
      		<option value="East">East</option>
      		<option value="West">West</option>
    	</select>
      </p>
      <div class="checkbox">
      <label>
      	Site Tester? <input type="checkbox" name="site_tester"/>
	  	Lab Tech? <input type="checkbox" name="lab_tech"/>
	  </label>
	  </div>
	  <div class=actions>
	    <input type=submit value="Register">
	  </div>
	</form>
{% endblock %}