{% extends 'layout.html' %}
{% block title%} GT COVID-19 Testing {% endblock %}
{% block link%} 
	<a href="{{ url_for('index') }}"> Return to Home Page </a>|
	<a href="{{ url_for('logout')}}"> Log Out [{{ g.user}}]</a>
{%  endblock%}

{% block body%}
	<h2> Student Home </h2>

	<p align="center">
		<a href="{{ url_for('login') }}" >
			<button class=grey style="height:75px;width:150px">View My Results</button>
		</a>
	</p>
	<p align="center">
		<a href="{{ url_for('login') }}" >
			<button class=grey style="height:75px;width:150px">Sign Up for a Test</button>
		</a>
	</p>
	<p align="center">
		<a href="{{ url_for('login') }}" >
			<button class=grey style="height:75px;width:150px">View Daily Results</button>
		</a>
	</p>
	<p align="center">
		<a href="{{ url_for('login') }}" >
			<button class=grey style="height:75px;width:150px">View Aggregate Results</button>
		</a>
	</p>

{% endblock%}