{% extends 'layout.html' %}
{% block title%} GT COVID-19 Testing {% endblock %}
{% block link%} 
	<a href="{{ url_for('index') }}"> Return to Home Page </a> | 
	<a href="{{ url_for('logout') }}"> Log Out {{[g.user]}}</a> 
{%  endblock%}
{% block body%}
	{% if error %}
	<div class = error>
	  <strong>Error : </strong> {{error}}
	</div>
	{% endif%}
	<h2> Site Tester Change Testing Site </h2>
	<form action="" method=post>
	<table>
	<tbody>
	  <tr><td align="center"> Username</td><td align="center"> {{username}} </td></tr>
	  <tr><td align="center"> Full Name </td><td align="center"> {{fullname[0]}} </td></tr>

	  <tr><td align="center"> Assigned Sites </td><td align="center"> <table> {% for site in sites %}
	  <tr><td><label><input type="radio" name="options" value="{{site[0]}}" /></label>{{site[0]}}</td></tr> {% endfor %} <tr><td> <select name = 'newsites'>
	<option value="select1">--Select--</option> 
	{% for a in reset_sites %}
	<OPTION value="{{a}}">{{a}}</option>
	{% endfor %}
	</SELECT> </tr></td></table> </td></tr>

	</table>
	<div class=action>
        <input type="submit" name="submit_button" value="Back(Home)">
        <input type="submit" name="submit_button" value="Update">
    </div>
    </form>
{% endblock%}
